.page-layout {
    display: flex;
    min-height: 100vh;
}

.main-content {
    margin-left: 209px;
    flex: 1;
    display: flex;
    flex-direction: column;
    transition: margin-left 0.3s ease;
    background-color: #f9f9f9;
}

.header-sidebar.sidebar-collapsed + .header-sidebar__toggle + .main-content {
    margin-left: 50px;
}
